<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xt.sms.dao.IDocumentTypeDao" >

  <sql id="table-name">`table_document_type`</sql>

  <insert id="insertDocumentType" parameterType="DocumentType">
    INSERT INTO <include refid="table-name"></include> (`name`,`description`) VALUES
    (#{name}, #{description});
  </insert>

  <delete id="deleteDocumentType" parameterType="integer">
    DELETE FROM <include refid="table-name"></include> WHERE `id` in
    <foreach collection="array" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>;
  </delete>

  <select id="getDocumentTypeList" resultType="DocumentType">
    SELECT `id`,`name` FROM <include refid="table-name"></include> ORDER BY `use_frequency` DESC;
  </select>

  <update id="updateUseFrequency">
    UPDATE <include refid="table-name"></include> SET `use_frequency` = `use_frequency` + #{increment} WHERE `id` = #{id};
  </update>

</mapper>