<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xt.sms.dao.IProductDao" >

  <resultMap id="ProductMap" type="Product">
    <id column="tp_id" property="id"/>
    <result column="tp_name" property="name"/>
    <result column="tp_size" property="size"/>
    <result column="tp_technical_param" property="technicalParam"/>
    <result column="tp_unit" property="unit"/>
    <result column="tp_unitprice" property="unitprice"/>
    <result column="tp_comment" property="comment"/>
    <association property="brandId" javaType="ProductBrand">
      <id column="tpb_id" property="id"/>
      <result column="tpb_name" property="name"/>
    </association>
    <association property="enterpriseId" javaType="Enterprise">
      <id column="te_id" property="id"/>
      <result column="te_full_name" property="fullName"/>
    </association>
    <association property="groupId" javaType="ProductGroup">
      <id column="tpg_id" property="id"/>
      <result column="tpg_name" property="name"/>
    </association>
  </resultMap>

  <select id="selectProductCount" parameterType="cn.xt.sms.condition.ProductCondition" resultType="integer">
    SELECT count(tp.`id`)
    FROM `table_product` tp
    LEFT JOIN `table_product_group` tpg ON tp.`group_id` = tpg.`id`
    LEFT JOIN `table_product_brand` tpb ON tp.`brand_id` = tpb.`id`
    LEFT JOIN `table_enterprise` te ON tp.`enterprise_id` = te.`id`
    <where>
      <if test="groupIds != null and groupIds.size > 0">
        tpg.`id` IN
        <foreach collection="groupIds" item="group_id" open="(" close=")" separator=",">
          #{group_id}
        </foreach>
      </if>
      <if test="brandIds != null and brandIds.size > 0">
        AND tpb.`id` IN
        <foreach collection="brandIds" item="brand_id" open="(" close=")" separator=",">
          #{brand_id}
        </foreach>
      </if>
      <if test="enterprise != null and enterprise !=''">
        AND te.`full_name` LIKE '%' #{enterprise} '%'
      </if>
      <if test="priceMin != null">
        AND tp.`unitprice` &gt; #{priceMin}
      </if>
      <if test="priceMax != null">
        AND tp.`unitprice` &lt; #{priceMax}
      </if>
    </where>
  </select>

  <select id="selectProductList" resultMap="ProductMap">
    SELECT tp.`id` `tp_id`, tp.`name` `tp_name`, tp.`size` tp_size, tp.`technical_param` tp_technical_param, tp.`unit` tp_unit, tp.`unitprice` tp_unitprice, tp.`comment` tp_comment,
          tpg.`id` `tpg_id`,tpg.`name` `tpg_name`,
          tpb.`id` `tpb_id`, tpb.`name` `tpb_name`,
          te.`id` `te_id`, te.`full_name` `te_full_name`
    FROM `table_product` tp
    LEFT JOIN `table_product_group` tpg ON tp.`group_id` = tpg.`id`
    LEFT JOIN `table_product_brand` tpb ON tp.`brand_id` = tpb.`id`
    LEFT JOIN `table_enterprise` te ON tp.`enterprise_id` = te.`id`
    <where>
      <if test="productCondition != null">
        <if test="productCondition.groupIds != null and productCondition.groupIds.size > 0">
          tpg.`id` IN
          <foreach collection="productCondition.groupIds" item="group_id" open="(" close=")" separator=",">
            #{group_id}
          </foreach>
        </if>
        <if test="productCondition.brandIds != null and productCondition.brandIds.size > 0">
          AND tpb.`id` IN
          <foreach collection="productCondition.brandIds" item="brand_id" open="(" close=")" separator=",">
            #{brand_id}
          </foreach>
        </if>
        <if test="productCondition.enterprise != null and productCondition.enterprise !=''">
          AND te.`full_name` LIKE '%' #{productCondition.enterprise} '%'
        </if>
        <if test="productCondition.priceMin != null">
          AND tp.`unitprice` &gt; #{productCondition.priceMin}
        </if>
        <if test="productCondition.priceMax != null">
          AND tp.`unitprice` &lt; #{productCondition.priceMax}
        </if>
      </if>
    </where>
    <if test="offset != null and pageSize != null">LIMIT #{offset},#{pageSize}</if>
  </select>

  <insert id="insertProduct" parameterType="Product">
    INSERT INTO `table_product`	(`name`,`brand_id`,`size`,`technical_param`,`unit`,`unitprice`,`comment`,`group_id`,`enterprise_id`)
    VALUE (#{name},
    <choose>
      <when test="brandId != null">#{brandId.id}</when>
      <otherwise>NULL</otherwise>
    </choose>
    , #{size}, #{technicalParam}, #{unit}, #{unitprice}, #{comment}, #{groupId.id}, #{enterpriseId.id})
  </insert>

  <delete id="deleteProduct" parameterType="integer">
    DELETE FROM `table_product` WHERE `id` = #{id}
  </delete>

  <update id="updateProduct" parameterType="Product">
    UPDATE `table_product`
    SET
      `id` = #{id}
      <if test="name != null and name != ''">,`name` = #{name}</if>
      <if test="brandId != null and brandId.id != ''">,`brand_id` = #{brandId.id}</if>
      <if test="size != null and size != ''">,`size` = #{size}</if>
      <if test="technicalParam != null and technicalParam != ''">,`technical_param` = #{technicalParam}</if>
      <if test="unit != null and unit != ''">,`unit` = #{unit}</if>
      <if test="unitprice != null">,`unitprice` = #{unitprice}</if>
      <if test="comment != null and comment != ''">,`comment` = #{comment}</if>
      <if test="groupId != null and groupId.id > 0">,`group_id` = #{groupId.id}</if>
      <if test="enterpriseId != null and enterpriseId.id > 0">,`enterprise_id` = #{enterpriseId.id}</if>
    WHERE `id` = #{id}
  </update>

  <select id="getProductById" parameterType="integer" resultMap="ProductMap">
     SELECT tp.`id` `tp_id`, tp.`name` `tp_name`, tp.`size` tp_size, tp.`technical_param` tp_technical_param, tp.`unit` tp_unit, tp.`unitprice` tp_unitprice, tp.`comment` tp_comment,
          tpg.`id` `tpg_id`,tpg.`name` `tpg_name`,
          tpb.`id` `tpb_id`, tpb.`name` `tpb_name`,
          te.`id` `te_id`, te.`full_name` `te_full_name`
      FROM `table_product` tp
      LEFT JOIN `table_product_group` tpg ON tp.`group_id` = tpg.`id`
      LEFT JOIN `table_product_brand` tpb ON tp.`brand_id` = tpb.`id`
      LEFT JOIN `table_enterprise` te ON tp.`enterprise_id` = te.`id`
      WHERE tp.`id` = #{id}
  </select>
  
  <select id="existsByNameAndEnterprise" parameterType="Product" resultType="integer">
    SELECT count(`id`) FROM `table_product` WHERE `name` = #{name} AND `enterprise_id` = #{enterpriseId.id}
  </select>

</mapper>