<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xt.sms.dao.ISupplierFileDao" >

  <sql id="common_column">
    `id`,`username`,`real_name`,`phone_number`,`is_su`,`level`,`last_online_time`,`birthday`,`state`,`create_time`,
    `location`,`about_me`,`online`,`head_img`
  </sql>

  <insert id="insertSupplierFile" parameterType="SupplierFile">
    INSERT INTO `table_supplier_file` ()
  </insert>

</mapper>