<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xt.sms.dao.ISupplierCategoryDao" >

  <select id="selectSupplierCategoryList" resultType="SupplierCategory">
    SELECT `id`, `name`, `description` FROM `table_category`;
  </select>

  <insert id="insertSupplierCategory" parameterType="SupplierCategory">
    INSERT INTO `table_category` (`id`, `name`, `description`)
    VALUES (#{id},#{name},#{description});
  </insert>

  <delete id="deleteSupplierCategory" parameterType="integer">
    DELETE FROM `table_category` WHERE `id` = #{id};
  </delete>

  <update id="updateSupplierCategory" parameterType="SupplierCategory">
    UPDATE `table_category`
    <set>
      `id` = #{id},
      <if test="name != null and name != ''">`name` = #{name},</if>
      <if test="description != null and description != ''">`description` = #{description}</if>
    </set>
    WHERE `id` = #{id};
  </update>

</mapper>