<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xt.sms.dao.ITradeGroupDao" >

  <insert id="insertTradeGroup" parameterType="string" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO `table_trade_group` (`name`) VALUES (#{name})
  </insert>

  <update id="updateTradeGroup" parameterType="TradeGroup">
    UPDATE `table_trade_group` SET `name` = #{name} WHERE `id` = #{id}
  </update>

  <delete id="deleteTradeGroup" parameterType="integer">
    DELETE FROM `table_trade_group` WHERE `id` = #{id}
  </delete>

  <select id="getTradeGroup" resultType="TradeGroup" parameterType="integer">
    SELECT trade.`id`,trade.`name`,trade.`parent_id`,count(en.`id`) count FROM `table_trade_group` trade LEFT JOIN `table_enterprise` en ON trade.`id` = en.`trade_group_id`
    <if test="categoryId != null">
      WHERE en.`category_id` = #{categoryId}
    </if>
    GROUP BY trade.`id`;
  </select>

  <select id="selectIdByName" parameterType="string" resultType="integer">
    SELECT `id` FROM `table_trade_group` WHERE `name` = #{name} LIMIT 0,1
  </select>

</mapper>